parameters:
    level: max
    paths:
        - src
        - tests
    typeAliases:
        BundleConfigArray: '''
            array{
                cache: array{
                    pool: string|null
                },
                bot: array{
                    skip_detection: bool,
                    discard_information: bool
                },
                twig: array{
                    variable_name: string|null
                },
                auto_parse: bool,
                version_truncation: 'major'|'minor'|'patch'|'build'|'none'
            }
'''
    tmpDir: var/phpstan

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
